body{
  background: #0B1F2C;
  color: #FFFFFF;
}

.left-fold {
	width: 40%;
    height: 100vh;
    background: #CDCDCD url('../img/cheers.jpg') top center no-repeat;
  	background-size: cover;
	position: fixed;
}

.right-fold {
	width: 60%;
    height: 100vh;
}

.header {
	padding: 15px 0px;
	position: fixed;
  	background: #0B1F2C;
}
